<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="As.Properties.Settings.TinyOrganisationCRM" connectionString="UserID=dba;Password=sql;DatabaseName=asxs;DatabaseFile=.\data\asxs.db;ServerName=asxs" providerName="iAnywhere.Data.SQLAnywhere"/>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=iAnywhere.Data.SQLAnywhere;provider connection string=&quot;UserID=dba;Password=sql;DatabaseName=asxs;DatabaseFile=.\data\asxs.db;ServerName=asxs&quot;" providerName="System.Data.EntityClient"/>
    <add name="IxSApp.Properties.Settings.TinyOrganisationCRM" connectionString="UserID=dba;Password=sql;DatabaseName=asxs;DatabaseFile=.\data\asxs.db;ServerName=asxs" providerName="iAnywhere.Data.SQLAnywhere"/>
    <add name="IxSApp.Properties.Settings.ASXS" connectionString="Driver={SQL Anywhere 12};uid=dba;pwd=sql;databasefile=asxs;servername=asxs;autostop=YES;integrated=NO;filedsn=C:\Users\lherrmann\Documents\asxs.dsn" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
