<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="As.Properties.Settings.TinyOrganisationCRM" connectionString="UserID=dba;Password=sql;DatabaseName=asxs;DatabaseFile=.\data\asxs.db;ServerName=asxs" providerName="iAnywhere.Data.SQLAnywhere"/>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=iAnywhere.Data.SQLAnywhere;provider connection string=&quot;UserID=dba;Password=sql;DatabaseName=asxs;DatabaseFile=.\data\asxs.db;ServerName=asxs&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
